@use "../base/typography" as typo;

.btn {
  height: 44px;
  cursor: pointer;
  border: none;
  border-radius: var(--radius);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  &--primary {
    background-color: var(--color-accent);
    color: var(--color-background);

    @include typo.label;

    &:hover {
      background-color: var(--color-accent-active);
    }
  }

  &--ghost {
    background: transparent;
    color: var(--color-foreground);
    border-radius: var(--radius);
    height: fit-content;
    padding: 3px;
    line-height: 1;

    &:hover {
      background: var(--color-overlay);
    }
  }
}
