@use '../../../../../styles/base/typography' as typo;

:host {
  max-width: 400px;

  h1 {
    @include typo.heading-1;
  }

  p {
    @include typo.label;
    color: var(--color-foreground);

    margin-top: 15px;
  }
}

.input-form {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  .submit-btn {
    margin-top: 8px;
  }
}

.footer-text {
  text-align: center;
  margin-top: 22px;

  @include typo.body;

  .link {
    color: var(--color-foreground);
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
