:root {
  --color-background: #fafafa;
  --color-foreground: #374151;
  --color-secondary-foreground: #9CA3AF;
  --color-border: #E5E7EB;
  --color-accent: #6366F1;
  --color-accent-active: #4F46E5;

  --color-tooltip-background: rgba(31, 41, 55, 0.9);
  --color-tooltip-foreground: #F9FAFB;

  --radius: 8px;

  --font-family: 'Inter', sans-serif;
}
